.topnav {
    background-color: rgb(161, 149, 151);
    overflow: hidden;
    border-radius: 5px;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav h4 {
    color: white;
    float: left;
    margin: 15px;
  }

  .topnav img{
      float: left;
      margin: 10px;
      width: 100px;
  }
