<div class="topnav">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" >
    <h4 class="trainer-name" id="trainer-name"></h4>
    <a href="/catalouge">Catalouge</a>
    <a href="/trainer">Trainer</a>
  </div>
