.container {
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border: 5px solid;
    width: 500px;
  }
  
  input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(207, 100, 100);
    background-color: rgba(0,0,0,0);
  }
  
  .btn {
    background-color: rgba(0,0,0,0);
    transition-duration: 0.4s;
    border: skyblue;
  }
    
  .btn:hover {
    background-color: darkblue;
    color: white;
  }
  