<div class="container">
    <div class="welcome">
        <h3>Pokemon Trainer Name</h3>
    </div>
    <div class="trainername"></div>
    <input type="text" placeholder="Write trainer name" #namebox>
    <button class="btn" (click)="getTrainerName(namebox.value)">Press to enter</button>
</div>