div.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    padding: 50px;
}

div.card {
    border-radius: 12px;
    background-color: rgba(24, 145, 220, 0.52);
    text-align: center;
    color: seashell;
    padding: 7px;
}
