.details {
    display: grid;
    justify-content: space-around;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    width: 50%;
    height: 500px;
}

.info-container {
    align-content: center;
    background-color: transparent;
}

.image-box {
    align-content: center;
    background: transparent;
}

.image-box img {
    width: 11em;
}   

.bs-cont {
    border: 1px solid coral;
    align-content: center;
}
.prof-cont {
    border: 1px solid violet;
    align-content: center;
}
.catchbtn {
    border: 1px solid green;
    align-content: center;
}

.nes-table {
    background-color: transparent;
    width: 99%;
}

.nes-container .title {
    background-color: rgb(135, 195, 215);
}
